/*Color del fondo*/
body {
    margin: 0;
    padding: 0;
  }
  .Fondo {
    background-color: black;
  }
  .contenedor-foto {
    justify-content: center;
    flex-direction: row-reverse;
  
  }
  
  .Textoprincipal {
    padding: 15px;
    margin: 10px;
    font-size: 25px;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    color: rgb(179, 255, 0);
  } 

  .foto {
    justify-items: center;  
  }
  
  .carita {
    text-align: right;
    justify-content: center;
   }
  
  .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-family: 'Overpass', sans-serif;
    }
    
  li {
    float: left;
  }

  .contenedor-carita {  

    justify-content: center;
    display: center;
  
  }
  
  .imagen-estudio {
  justify-content: center;
  display: center;
  }
  
  .contenedor-foto {
    justify-content: center;
    display: center;
  }